
            body{
                background-color: lightblue;
            }
        
            #myname{
                text-align: center;
                color: hotpink;
                font-weight: bold;
            }
            .navbar {
                text-align: center;
                background-color:lightblue;
                padding: 12px;
                    }
            .navbar a:hover {
                color: yellow;
                }
            h2{
                text-align: center;
                color: teal;
            }
            ul{
                text-align: center;
                list-style-position: inside;
                font-size: 22px;
                font-weight: bold;
            }
            .contact-text {
                text-align: center;
                font-size: 20px;
                font-weight: bold;
                margin-top: 20px;
                    }

        